<p id="notice"><%= notice %></p>

<h1>Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome: </th>
      <th>Cpf: </th>
      <th>Data Nascimento: </th>
      <th>Número de Telefone: </th>
      <th>Salário: </th>
      <th>Cargo: </th>
      <th>Data Adimissão: </th>
      <th>Data de Pagamento: </th>

      <th>EnderecoId: </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionario.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.dataNascimento %></td>
        <td><%= funcionario.numTelefone %></td>
        <td><%= funcionario.salario %></td>
        <td><%= funcionario.cargo %></td>
        <td><%= funcionario.dataAdimissao %></td>
        <td><%= funcionario.dataPagamento %></td>

        <td><%= funcionario.endereco_id %></td>

        <td><%= link_to 'Vizualizar', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Remover', funcionario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Funcionario', new_funcionario_path %>
