<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :Data_de_Nascimento %>
    <%= form.date_select :dataNascimento %>
  </div>

  <div class="field">
    <%= form.label :Número_de_Telefone %>
    <%= form.text_field :numTelefone %>
  </div>

  <div class="field">
    <%= form.label :Limite_de_Crédito %>
    <%= form.text_field :limiteCredito %>
  </div>

  <div class="field">
    <%= form.label :Data_Cadastro %>
    <%= form.date_select :dataCadastro %>
  </div>

  <div class="field">
    <%= form.label :Bairro %>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">
    <%= form.label :Nome_da_Rua %>
    <%= form.text_field :nomeRua %>
  </div>

  <div class="field">
    <%= form.label :Nome_da_Cidade %>
    <%= form.text_field :nomeCidade %>
  </div>

  <div class="field">
    <%= form.label :cep %>
    <%= form.text_field :cep %>
  </div>

  <div class="field">
    <%= form.label :Número_da_Residência %>
    <%= form.text_field :numResidencia %>
  </div>
  <div class="field">
    <%= form.label :funcionario_id %>
    <%= form.collection_select(:funcionario_id , Funcionario.all,:id, :cpf, prompt: true)%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
