<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="Explicação do erro">
      <h2><%= pluralize(cliente.errors.count, "erro") %>Proibi o cliente de ser salvo:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :Data_de_Nascimento %>
    <%= form.date_select :dataNascimento %>
  </div>

  <div class="field">
    <%= form.label :Número_de_Telefone %>
    <%= form.text_field :numTelefone %>
  </div>

  <div class="field">
    <%= form.label :Limite_de_Crédito %>
    <%= form.text_field :limiteCredito %>
  </div>

  <div class="field">
    <%= form.label :Data_Cadastro %>
    <%= form.date_select :dataCadastro %>
  </div>

  <div class="field">
    <%= form.label :funcionario_id %>
    <%= form.collection_select(:funcionario_id , @funcionarios, :id, :cpf, prompt: true)%>
  </div>

  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.collection_select(:endereco_id , @enderecos, :id, :to_s, prompt: true)%>
  </div>

  <div class="actions">
    <%= form.submit :cadastrar %>
  </div>
<% end %>
