<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Datanascimento</th>
      <th>Numtelefone</th>
      <th>Limitecredito</th>
      <th>Datacadastro</th>
      <th>Bairro</th>
      <th>Nomerua</th>
      <th>Nomecidade</th>
      <th>Cep</th>
      <th>Numresidencia
      <th>funcionario_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.dataNascimento %></td>
        <td><%= cliente.numTelefone %></td>
        <td><%= cliente.limiteCredito %></td>
        <td><%= cliente.dataCadastro %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.nomeRua %></td>
        <td><%= cliente.nomeCidade %></td>
        <td><%= cliente.cep %></td>
        <td><%= cliente.numResidencia %></td>
        <td><%= cliente.funcionario_id%></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
