<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome: </th>
      <th>Cpf: </th>
      <th>Data Nascimento: </th>
      <th>Numero de telefone: </th>
      <th>Limite de credito: </th>
      <th>Data do cadastro: </th>
      <th>Bairro</th>
      <th>Nome da rua:</th>
      <th>Nome da cidade:</th>
      <th>Cep</th>
      <th>Numero da residencia:</th>
      <th>funcionario_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.dataNascimento %></td>
        <td><%= cliente.numTelefone %></td>
        <td><%= cliente.limiteCredito %></td>
        <td><%= cliente.dataCadastro %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.nomeRua %></td>
        <td><%= cliente.nomeCidade %></td>
        <td><%= cliente.cep %></td>
        <td><%= cliente.numResidencia %></td>
        <td><%= cliente.funcionario_id%></td>
        <td><%= link_to 'Vizualizar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'remover', cliente, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Cliente', new_cliente_path %>
