<p id="notice"><%= notice %></p>

<h1>Item Estoques</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_estoques.each do |item_estoque| %>
      <tr>
        <td><%= item_estoque.produto %></td>
        <td><%= item_estoque.quantidade %></td>
        <td><%= link_to 'Show', item_estoque %></td>
        <td><%= link_to 'Edit', edit_item_estoque_path(item_estoque) %></td>
        <td><%= link_to 'Destroy', item_estoque, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Estoque', new_item_estoque_path %>
