<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :numTelefone %>
    <%= form.text_field :numTelefone %>
  </div>

  <div class="field">
    <%= form.label :dataNascimento %>
    <%= form.date_select :dataNascimento %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.select("cargo",['Adiministrador','Operador de caixa'],{include_blank: "selecione"})%>
  </div>

  <div class="field">
    <%= form.label :salario %>
    <%= form.text_field :salario %>
  </div>

  <div class="field">
    <%= form.label :dataAdimissao %>
    <%= form.date_select :dataAdimissao %>
  </div>

  <div class="field">
    <%= form.label :dataPagamento %>
    <%= form.date_select :dataPagamento %>
  </div>
  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.collection_select(:endereco_id , Endereco.all,:id, :nomeCidade, prompt: true)%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
