<%= form_with(model: endereco, local: true) do |form| %>
  <% if endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bairro %>
    <%= form.text_field :bairro %>
  </div>

  <div class="field">

    <%= form.label :nomeCidade %>
    <%= form.text_field :nomeCidade %>
  </div>

  <div class="field">
    <%= form.label :nomeRua %>
    <%= form.text_field :nomeRua %>
  </div>

  <div class="field">
    <%= form.label :cep %>
    <%= form.text_field :cep %>
  </div>

  <div class="field">
    <%= form.label :numResidencia %>
    <%= form.text_field :numResidencia %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
