<p id="notice"><%= notice %></p>

<p>
  <strong>Bairro:</strong>
  <%= @endereco.bairro %>
</p>

<p>

  <strong>Nomecidade:</strong>
  <%= @endereco.nomeCidade %>
</p>

<p>
  <strong>Nomerua:</strong>
  <%= @endereco.nomeRua %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<p>
  <strong>Numresidencia:</strong>
  <%= @endereco.numResidencia %>

</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
