<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :contato_fornecedor %>
    <%= form.text_field :contato_fornecedor %>
  </div>

  <div class="field">
    <%= form.label :preco_venda %>
    <%= form.text_field :preco_venda %>
  </div>

  <div class="field">
    <%= form.label :preco_compra %>
    <%= form.text_field :preco_compra %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
