<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @produto.marca %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Preco venda:</strong>
  <%= @produto.preco_venda %>
</p>

<p>
  <strong>Preco compra:</strong>
  <%= @produto.preco_compra %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @produto.quantidade %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
