<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Funcionario</th>
      <th>Valor total</th>
      <th>Valor pago</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.cliente %></td>
        <td><%= venda.funcionario %></td>
        <td><%= venda.valor_total %></td>
        <td><%= venda.valor_pago %></td>
        <td><%= venda.data %></td>
        <td><%= venda.item_vendas.each do |item| %>
            <li><% item.produto.to_s %></li>
          <% end %>
            </td>
        <td><%= link_to 'Show', venda %></td>
        <td><%= link_to 'Edit', edit_venda_path(venda) %></td>
        <td><%= link_to 'Destroy', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venda', new_venda_path %>
